{%load i18n%}

{%if error %}
<script type="text/javascript" src="//www.google.com/recaptcha/api.js" ></script>
<form id="main-equipment-form" method="post" action="{%url 'unutool-app'%}">
{{form.as_p}}
{{form.captcha}}
<div id="equipment-form-error">{{error}}</div>
<input type="submit" value="{%trans "Отправить"%}">
{%csrf_token%}
</form>
{%else%}
<div id="equipment-booked-successfully">{%trans "Заявка на аренду оборудования успешно подана."%}</div>
<div id="equipment-renew-page" onclick="window.location.reload();resetEquipmentForm();">{%trans "Обновить страницу"%}</div>
{%endif%} 


